{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react(?:-.+)?$",
        "<THIRD_PARTY_MODULES>",
        "^@reachfive/(.*)$",
        "^@/(.+)",
        "^[./]",
        "<TS_TYPES>^@/(.+)",
        "<TS_TYPES>^[./]"
    ],
    "importOrderCaseInsensitive": true,
    "importOrderSeparation": true,
    "overrides": [
        {
            "files": ["*.yml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["tsconfig.json"],
            "options": {
                "singleQuote": false,
                "tabWidth": 2
            }
        },
        {
            "files": ["eslint.config.mjs"],
            "options": {
                "singleQuote": false,
                "tabWidth": 4,
                "trailingComma": "none"
            }
        },
        {
            "files": ["tailwind.config.cjs"],
            "options": {
                "singleQuote": false,
                "tabWidth": 2
            }
        },
        {
            "files": ["src/components/ui/*"],
            "options": {
                "semi": false,
                "singleQuote": false,
                "tabWidth": 2
            }
        }
    ]
}
